nav {
  color: blue
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
h1
{
  color: white;
  font-family: fantasy;
  font-size: 75px;
}
.awesome {
  color: pink;
  font-style: italic;

}
h4
{
  color: white;
}
h3
{
  color: white
}
