nav {
  color: blue
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
h1
{
  font-family: fantasy;
  font-size: 75px;
}
.awesome {
  color: pink;
  font-style: italic;

}
h4
{
  color: white;
}
h3
{
  color: grey
}
.page-header
{color:blue;
  background-color: white;
}
header{
  width:100
}
.subhead{
font-style: italic;
font-family: cursive;
font-size: 50%
}
.emphasis {
  font-weight: bold;
  color: pink
}
.fancy{
  font-family: 'Kaushan Script', cursive;

}
#banner{
  background-color:#d3d3d3;
}
#maintext{
  font-family: 'Happy Monkey', cursive;
  font-size: 150%
}
.jumbotron{
  background-color: transparent;
}
body{
  background-image: url(https://www.pandora.com/img/splash.jpg);
}
